<section id="mt_about_me">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="about_heading">
          <h2>Sobre nós</h2>
          <span>VBS Assessoria</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="mt_about_me">
          <h3>Seja Bem-vindo(a) aqui é onde transformamos desafios financeiros em novas oportunidades para você!</h3>
          <p>Nosso Compromisso: Agilidade e Acessibilidade</p>
          <p>
            Em um mundo acelerado, entendemos a importância de soluções rápidas. Por isso, nos dedicamos a oferecer um
            serviço excepcionalmente ágil para limpar o seu nome.
          </p>
          <p><strong> Por Que Somos Diferentes?</strong></p>
          <p>
            Sabemos que as dificuldades financeiras podem ser estressantes e, muitas vezes, caras.
            Assim, desenvolvemos um método que não apenas acelera o processo de limpar o seu nome, mas também o torna
            mais acessível. Oferecemos planos
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
