<div class="header">
  <header id="mt_header">
    <div class="container">
      <div class="row">
        <div class="navigation">
          <div class="logo">
            <a href="index.html">
              <img alt="Logo" class="img-responsive no_sticky_logo" src="../../../../assets/images/logo.png">
              <img alt="Logo" class="img-responsive sticky_logo" src="./../../../assets/images/logo-sticky.png">
            </a>
          </div>
          <nav class="main-nav">
            <div class="menu-btn">
              <button class="button_container menu-button">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </button>
            </div>
            <ul>
              <li>
                <a class="nav-link js-scroll-trigger" href="#">Inicio</a>
              </li>
              <li>
                <a class="nav-link js-scroll-trigger" href="#">Dashboard</a>
              </li>
              <li>
                <a class="nav-link js-scroll-trigger" href="#">Leads</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <h3>Painel de controle</h3>
  <app-list-lead></app-list-lead>
</div>
<app-footer></app-footer>
