<section id="mt_contact_section">
  <div class="main_section_heading text-center">
    <h2 class="section_heading text-center">Vamos conversar
    </h2>
  </div>
  <div class="container">
    <div class="row get_in_touch_row">
      <div class="col-lg-7 table_col no_padding col_get_in_touch">
        <div class="get_in_touch">
          <div class="get_in_touch_wrapper">
            <h2 class="col_title">Entrar em contato</h2>
            <p class="col_desc">
              Preencha o formulário de contato rápido e um de nossos agentes entrará em contato em até 24 horas.
            </p>
            <form [formGroup]="form" id="contact_form">
              <input formControlName="name" id="name" placeholder="Nome Completo" required type="text">
              <messages-control-validations [control]="form.get('name')">
              </messages-control-validations>
              <input formControlName="email" id="email" name="email" placeholder="Seu melhor e-mail" required
                     type="email">
              <messages-control-validations [control]="form.get('email')">
              </messages-control-validations>
              <input formControlName="cpf" id="cpf" name="cpf" placeholder="Seu CPF" mask="000.000.000-00" required type="text">
              <messages-control-validations [control]="form.get('cpf')">
              </messages-control-validations>
              <input formControlName="syndicate" id="syndicate" name="syndicate" placeholder="Veio de qual sindicato?" required type="text">
              <messages-control-validations [control]="form.get('syndicate')">
              </messages-control-validations>
              <input formControlName="phone" id="phone" name="phone" mask="(00) 0 0000-0000" placeholder="Seu telefone. Exemplo: 61999999999"
                     required type="text">
              <messages-control-validations [control]="form.get('phone')">
              </messages-control-validations>
              <button type="submit" class="btn btn-primary mb-2 mt_btn_white" [disabled]="!form.valid" (click)="onSubmit()">Agende um Contato Conosco Hoje!</button>
              <div id="msg"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5 table_col no_padding">
        <div class="connect_with_us">
          <ul class="list-unstyled">
            <li>
              <h2 class="main_heading">
                Conecte-se conosco
              </h2>
              <p>
                Para qualquer dúvida ou suporte: envie-nos um email para
                <br>
                <b>
                  <a href="mailto:suporte@vbsassessoria.com.br">
                    suporte@vbsasseria.com.br
                  </a>
                </b>
              </p>
            </li>
            <li>
              <h3 class="phone_number">
                Ligue:<a href="tel:+55 61 99624-7771">
                +55 61 99624-7771</a>
              </h3>
            </li>
            <li>
              <h4 class="address_heading">
                Endereço:
              </h4>
              <p>
                Setor SHTN Trecho 01 lote 01 'b' Asa Norte
              </p>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row">
        <button (click)="onDebugging()" class="btn btn-default ">:: Debugar Formuário em Desenvolvimento ::<span
          class="mt_load"><span></span></span></button>
        <pre *ngIf="form && debugging">
          {{ form.value|json }}
        </pre>
      </div>
    </div>
  </div>
</section>
