<div id="leads">
  <ol class="breadcrumb">
    <li><a (click)="goHome()">Dasboard</a></li>
    <li><a class="active" routerLink="/">Leads</a></li>
  </ol>
  <div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <div class="panel-heading">Lista de Leads</div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Sindicato</th>
            <th>Ação</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let lead of leads$ | async, let i = index">
            <th scope="row">{{ lead?.id }}</th>
            <td>{{ lead?.name }}</td>
            <td>{{ lead?.email }}</td>
            <td>{{ lead?.cpf }}</td>
            <td>{{ lead?.phone }}</td>
            <td>{{ lead?.syndicate }}</td>
            <td>
              <a class="btn btn-info" (click)="edit(lead)" data-toggle="modal" data-target="#editLead">Editar</a> |
              <a class="btn btn-danger" (click)="delete(lead)">Excluir</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav aria-label="..." class="paginate">
    <ul class="pager">
      <li><a>Voltar</a></li>
      <li><a>Avançar</a></li>
    </ul>
  </nav>
  <footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 mt-2 mt-sm-0 text-body">Sua ponte para um futuro<span
          class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1"></span><br
          class="d-sm-none">{{ today }} ©<a class="mx-1">VB Santos Assessoria</a></p>
      </div>
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-body-tertiary text-opacity-85">v1.0.0</p>
      </div>
    </div>
  </footer>
</div>
<div class="modal fade" id="editLead" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Lead: {{ form.get('name')?.value }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" id="contact_form">
          <input formControlName="name" id="name" placeholder="Nome Completo" required type="text">
          <messages-control-validations [control]="form.get('name')">
          </messages-control-validations>
          <input formControlName="email" id="email" name="email" placeholder="Seu melhor e-mail" required
                 type="email">
          <messages-control-validations [control]="form.get('email')">
          </messages-control-validations>
          <input formControlName="cpf" id="cpf" name="cpf" placeholder="Seu CPF" mask="000.000.000-00" required
                 type="text">
          <messages-control-validations [control]="form.get('cpf')">
          </messages-control-validations>
          <input formControlName="syndicate" id="syndicate" name="syndicate" placeholder="Veio de qual sindicato?"
                 required type="text">
          <messages-control-validations [control]="form.get('syndicate')">
          </messages-control-validations>
          <input formControlName="phone" id="phone" name="phone" mask="(00) 0 0000-0000"
                 placeholder="Seu telefone. Exemplo: 61999999999"
                 required type="text">
          <messages-control-validations [control]="form.get('phone')">
          </messages-control-validations>
          <h6>Observações:</h6>
          <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
          <div id="msg"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">
          Salvar {{ form.touched && form.dirty ? 'Edição' : '' }}
        </button>
      </div>
    </div>
  </div>
</div>
